<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="AppName" value="springrain"/>
    <springProperty scope="context" name="logIndex" source="server.port"/>
    <!-- 控制台日志 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
    </appender>
    <!-- 错误日志 -->
    <appender name="errorFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home:-.}/logs/error/${AppName}${logIndex:-}.log</File>
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/error/${AppName}${logIndex:-}_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <!-- 日志过滤器 -->
        <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> </filter> -->
    </appender>
    <!-- 数据库访问较慢的语句 -->
    <appender name="sqlFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home:-.}/logs/sql/${AppName}${logIndex:-}.log</File>
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/sql/${AppName}${logIndex:-}_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!-- 自定义日志输出的 logger,业务日志类似这样的配置 -->
    <logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false">
        <appender-ref ref="sqlFile"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="stdout"/>
        <appender-ref ref="errorFile"/>
    </root>


</configuration>