.ztree * {font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
.ztree li ul{ margin:0; padding:0}
.ztree li {line-height:30px;}
.ztree li a {width:200px;height:30px;padding-top: 0px;}
.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
 
 
.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
.ztree li span {line-height:30px;}
.ztree li span.button {margin-top: -7px;}
.ztree li span.button.switch {width: 16px;height: 16px;}

.ztree li a.level0 span {font-size: 16px;}
.ztree li span.button {position:relative;background:none;font-family: layui-icon!important;font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.ztree li span.button:after{position:absolute;top:12px;}
.ztree li span.button:before{position:absolute;top:12px;right:-14px;}
.ztree li span.button.level1:before{top:13px!important;right:-14px;}
.ztree li span.button.level1:after{top:14px!important;}
.ztree li span.button.switch.level0 {width: 20px; height:20px}
.ztree li span{margin-left:14px;}
.ztree li .level1 span{margin-left:10px;}
.ztree li .level2 span{margin-left:10px;}
.ztree li span.button.switch.level1 {width: 20px; height:20px;}


.ztree li span.button.noline_open:after {content:"\e625";}
.ztree li span.button.noline_close:after {content:"\e623";}

.ztree li span.button.noline_open:before {content:"\e624";}
.ztree li span.button.noline_close:before {content:"\e622";}

.ztree li span.button.noline_docu:after{content:"\e621";top:10px;right:-14px;}

.ztree_add{float:right;display:inline-block;width:80px!important;text-align: right;
    height: 22px!important;
    line-height: 22px!important;
    padding: 0 5px!important;
    font-size: 12px!important;
    background-color: #1E9FFF!important;
    white-space: nowrap!important;
    text-align: center!important;
    border: none!important;
    border-radius: 2px!important;
    cursor: pointer!important;
    outline: 0!important;
    -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5)!important;
    transition: border-color .3s cubic-bezier(.65,.05,.35,.5)!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;vertical-align: middle!important;text-decoration: none!important;
     color: #fff!important;
     margin-top:4px!important;
}
.ztree_add:hover{
	opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
	
}