@CHARSET "UTF-8";
.layui-icon-specil{margin-right:5px;}
.layui-icon-my-small{font-size:16px!important;}
.layui-btn .layui-icon{vertical-align: middle;}
.layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select{display:inherit;}
.sort-icon{font-size:14px;cursor: pointer;color:#d3d3d3;}
.sort-icon-on{color:#333333;}
.sort-icon-up{position:relative;top:-4px;left:4px;}
.sort-icon-down{position:relative;top:8px;right:10px;}